<h1>New Entry in <%= @place["name"] %></h1>

<form action = "/entries" method = "post">
<input type = "hidden" name = "place_id" id = "place_id" value = "<%= params["place_id"]%>">
  <p>
    <label for = "occurred_on">Date occurred on: </label>
    <input type = "date" name = "occurred_on" id = "occurred_on">
  </p>

  <p>
    <label for = "title">Entry Title:</label>
    <input type = "text" name = "title" id = "title">
  </p>
  <p>
    <label for = "description">Description:</label>
  </p>
  <p>
    <input type = "text" name = "description" id = "description" size = 80>
  </p>
  <button>Submit</button>
</form>

<a href = "/places/<%= params["place_id"] %>"><button>Cancel</button></a>