<h1>Add a New Place!</h1>
<form action = "/places" method="place">
  <p>
    <label for = "name">Location</label>
    <input type = "text" name="name" id="name" size = 50>
  </p>
  <button>Submit</button>
  <a href = "/places"><button>Cancel</button></a>
</form>
